<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lazzz.sagittarius.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="io.github.lazzz.sagittarius.system.model.entity.SysUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="bio" jdbcType="VARCHAR" property="bio"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="article_count" jdbcType="INTEGER" property="articleCount"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `username`, `nickname`, `password`, `email`, `phone`, `avatar`, `status`, `user_type`, `bio`, `website`,
        `article_count`, `comment_count`, `view_count`, `create_time`, `update_time`, `create_by`, `update_by`,
        `deleted`
    </sql>

</mapper>